.custom-title{
    color: #253750 !important;
}
#logo{
    color: #91C73E;
    /* color: #3F8810; */
}
.logo-img{
    height: 44px;
    width: 44px;
    margin-right: 5px;
}
.custom-style-link{
    color: #253750 !important;
}
.custom-style-link:hover{
    color: #82B440 !important;
    /* color: white !important;
   background-color: #82B440 !important;
   border-radius: 5px !important; */
}
.custom-style-link:focus{
    /* color: white !important;
   background-color: #82B440 !important;
   border-radius: 5px !important; */
    color: #82B440 !important;
}
.custom-name{
    color: #82B440;
    background-color: rgba(244, 245, 246, 0.624);
    border-radius: 5px;
    padding: 2px 5px;
}